body {
  font-family: fantasy;
}

main div {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

#edit-zone {
  overflow-wrap: break-word;
  text-align: left;
  background-color: rgb(255, 248, 239);
  width: 150px;
  height: 60px;
  border-radius: 2px;
  font-family: fantasy;
  font-size: 16px;
}

.dropzone:hover {
  cursor: grab;
}
#drag-target:active {
  cursor: grabbing;
}

.dropzone-d:hover {
  cursor: grab;
}
